.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.box__n5Y {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 128px 32px;
}
.box__n5Y > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.box__n5Y > :global(.__wab_flex-container) > *,
.box__n5Y > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__n5Y {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__n5Y > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__n5Y > :global(.__wab_flex-container) > *,
  .box__n5Y > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.box__z0C7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__z0C7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box__z0C7 > :global(.__wab_flex-container) > *,
.box__z0C7 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 24px;
}
.box___4TvsB {
  position: relative;
  font-weight: 700;
}
.box__wtRM {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__wtRM > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__wtRM > :global(.__wab_flex-container) > *,
.box__wtRM > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.link___4Gw5T {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 20JFeixB2pEj0g */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link___4Gw5T:hover {
  color: rgb(233, 156, 46) /* plasmic-token: VXmNzI_T2Jo7Yo */;
  padding-left: 10px;
}
.link__hceJu {
  color: rgb(160, 158, 156) /* plasmic-token: 20JFeixB2pEj0g */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__hceJu:hover {
  color: rgb(233, 156, 46) /* plasmic-token: VXmNzI_T2Jo7Yo */;
  padding-left: 10px;
}
.link__zrlK2 {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 20JFeixB2pEj0g */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__zrlK2:hover {
  color: rgb(233, 156, 46) /* plasmic-token: VXmNzI_T2Jo7Yo */;
  padding-left: 10px;
}
.link__yLqVq {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 20JFeixB2pEj0g */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__yLqVq:hover {
  color: rgb(233, 156, 46) /* plasmic-token: VXmNzI_T2Jo7Yo */;
  padding-left: 10px;
}
.box__h2Bqy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__h2Bqy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box__h2Bqy > :global(.__wab_flex-container) > *,
.box__h2Bqy > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 24px;
}
.box__q5QHx {
  position: relative;
  font-weight: 700;
}
.box__wm6Ts {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__wm6Ts > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__wm6Ts > :global(.__wab_flex-container) > *,
.box__wm6Ts > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.link__apz {
  color: rgb(160, 158, 156) /* plasmic-token: 20JFeixB2pEj0g */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__apz:hover {
  color: rgb(233, 156, 46) /* plasmic-token: VXmNzI_T2Jo7Yo */;
  padding-left: 10px;
}
.link__x8BNy {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 20JFeixB2pEj0g */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__x8BNy:hover {
  color: rgb(233, 156, 46) /* plasmic-token: VXmNzI_T2Jo7Yo */;
  padding-left: 10px;
}
.link__rTj5W {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 20JFeixB2pEj0g */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__rTj5W:hover {
  color: rgb(233, 156, 46) /* plasmic-token: VXmNzI_T2Jo7Yo */;
  padding-left: 10px;
}
.link___6Kmme {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 20JFeixB2pEj0g */;
  transition-property: all, all;
  transition-duration: 1s, 0.5s;
}
.root .link___6Kmme:hover {
  color: rgb(233, 156, 46) /* plasmic-token: VXmNzI_T2Jo7Yo */;
  padding-left: 10px;
}
.link__gLp5C {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 20JFeixB2pEj0g */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__gLp5C:hover {
  color: rgb(233, 156, 46) /* plasmic-token: VXmNzI_T2Jo7Yo */;
  padding-left: 10px;
}
.box__fetFf {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__fetFf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box__fetFf > :global(.__wab_flex-container) > *,
.box__fetFf > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 24px;
}
.box__pNwMi {
  position: relative;
  font-weight: 700;
}
.box__epw9B {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__epw9B > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__epw9B > :global(.__wab_flex-container) > *,
.box__epw9B > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.link___4UfaN {
  color: rgb(160, 158, 156) /* plasmic-token: 20JFeixB2pEj0g */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link___4UfaN:hover {
  color: rgb(233, 156, 46) /* plasmic-token: VXmNzI_T2Jo7Yo */;
  padding-left: 10px;
}
.link__pfjTp {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 20JFeixB2pEj0g */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__pfjTp:hover {
  color: rgb(233, 156, 46) /* plasmic-token: VXmNzI_T2Jo7Yo */;
  padding-left: 10px;
}
.link__kbe8E {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 20JFeixB2pEj0g */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__kbe8E:hover {
  color: rgb(233, 156, 46) /* plasmic-token: VXmNzI_T2Jo7Yo */;
  padding-left: 10px;
}
.link__g35Pv {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 20JFeixB2pEj0g */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__g35Pv:hover {
  color: rgb(233, 156, 46) /* plasmic-token: VXmNzI_T2Jo7Yo */;
  padding-left: 10px;
}
.link__swIyn {
  position: relative;
  color: rgb(160, 158, 156) /* plasmic-token: 20JFeixB2pEj0g */;
  transition-property: all;
  transition-duration: 0.5s;
}
.root .link__swIyn:hover {
  color: rgb(233, 156, 46) /* plasmic-token: VXmNzI_T2Jo7Yo */;
  padding-left: 10px;
}
.box__oxWwk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.box__oxWwk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box__oxWwk > :global(.__wab_flex-container) > *,
.box__oxWwk > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 24px;
}
.box__aUVmU {
  position: relative;
  font-weight: 700;
}
.box__pWrun {
  position: relative;
  font-size: 14px;
  color: rgb(160, 158, 156) /* plasmic-token: 20JFeixB2pEj0g */;
}
.box__cyRyi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  box-shadow: 0px 4px 16px 0px #cbcbcb;
  transition-property: all;
  transition-duration: 0.5s;
  height: 48px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 5px;
}
.root .box__cyRyi:hover {
  box-shadow: 4px 4px 4px 4px rgb(160, 158, 156)
    /* plasmic-token: 20JFeixB2pEj0g */;
}
.textbox {
  position: relative;
  width: 100%;
  font-size: 14px;
  min-width: 0;
  border-radius: 5px;
  padding: 12px;
  border-width: 0px;
}
.button {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 48px;
  flex-shrink: 0;
  padding: 0px;
  border-width: 1px;
  border-style: none;
}
.svg___7ZxF {
  position: relative;
  object-fit: cover;
  color: rgb(233, 156, 46) /* plasmic-token: VXmNzI_T2Jo7Yo */;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.box__kM3I {
  display: flex;
  position: relative;
  flex-direction: column;
  left: auto;
  top: auto;
  width: 100vw;
  height: auto;
  align-self: center;
  padding: 32px 16px;
  background: #f8f9fd;
}
.box__kM3I > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__kM3I > :global(.__wab_flex-container) > *,
.box__kM3I > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box__rfLjs {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__rfLjs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__rfLjs > :global(.__wab_flex-container) > *,
.box__rfLjs > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.iconLink__jh35L:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__q9GRx {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__q9GRx:hover {
  color: rgb(233, 156, 46) /* plasmic-token: VXmNzI_T2Jo7Yo */;
}
.iconLink__jgIoM:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__bjPC {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__bjPC:hover {
  color: rgb(233, 156, 46) /* plasmic-token: VXmNzI_T2Jo7Yo */;
}
.iconLink___0QyYr:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__qLJiK {
  position: relative;
  object-fit: cover;
  color: #a5adb3;
  width: 18px;
  height: 18px;
}
.root .svg__qLJiK:hover {
  color: rgb(233, 156, 46) /* plasmic-token: VXmNzI_T2Jo7Yo */;
}
.box__pCbTc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__pCbTc {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.box__yCdnq {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.link__l6O95 {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.root .link__l6O95:hover {
  text-decoration-line: underline;
}
.link___6ZgjS {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
.root .link___6ZgjS:hover {
  text-decoration-line: underline;
}
