.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  min-width: 0;
}
.box__qkMsk {
  display: flex;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 32px 0px;
}
.box__qkMsk > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.box__qkMsk > :global(.__wab_flex-container) > *,
.box__qkMsk > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__qkMsk {
    padding: 16px 5px;
  }
}
.menuButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.menuButton__expanded:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton__expanded:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  flex-shrink: 0;
}
.img {
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.box__gRq2V {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.linkButton__vs8Xo:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton___3PzSw:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__tynpW:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__wlNzn:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton___8R4:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.box__dmDb {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
}
.box__dmDb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.box__dmDb > :global(.__wab_flex-container) > *,
.box__dmDb > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.iconLink__hWyG0:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__za9XY {
  position: relative;
  object-fit: cover;
  color: rgb(95, 91, 87) /* plasmic-token: pmpeqpDY2f7PBF */;
  width: 18px;
  height: 18px;
}
.root .svg__za9XY:hover {
  color: rgb(233, 156, 46) /* plasmic-token: VXmNzI_T2Jo7Yo */;
}
.iconLink__q6KYm:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__qwyBd {
  position: relative;
  object-fit: cover;
  color: rgb(95, 91, 87) /* plasmic-token: pmpeqpDY2f7PBF */;
  width: 18px;
  height: 18px;
}
.root .svg__qwyBd:hover {
  color: rgb(233, 156, 46);
}
.iconLink__euUlo:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__egEFm {
  position: relative;
  object-fit: cover;
  color: rgb(95, 91, 87) /* plasmic-token: pmpeqpDY2f7PBF */;
  width: 18px;
  height: 18px;
}
.root .svg__egEFm:hover {
  color: rgb(233, 156, 46) /* plasmic-token: VXmNzI_T2Jo7Yo */;
}
.box__nwnTs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.linkButton___368K2:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__qrXtq:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__jjLjo:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__ib6C:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.linkButton__udv7:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
